// sidebar
$menuText:#fafafa;
$menuActiveText:#3ABEF9;
$subMenuActiveText:#3ABEF9; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#4f4f4f;
$menuHover:#2F2D2A;

$subMenuBg:#4f4f4f;
$subMenuHover:#2F2D2A;

$sideBarWidth: 150px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
